body{
    background: linear-gradient(to top,#688bec,#8dc6ae);
    display: flex;
    justify-content: center;
    align-items: center;

}


.form-servico{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
    width: 550px;
    max-width: 100%;
}


h2 {
    text-align: center;
    color: #629a83;
}

label{
    font-weight: bold;
    margin-top: 20px;
    display: block;
    color: #629a83;
}

input , select , textarea{
    width: 100%;
    padding: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: border-box;
}

.form-group{
    margin-bottom: 15px;
}

.button{
    background-color:  #629a83;
    color: #23449e;
    border: none;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover{
    background-color: gray;
}


.radio-group input{
    margin-right: flex;
}

.select-group{
    display: flex;
    justify-content: space-between;
}

