<!DOCTYPE html>
<html lang ="pt-Br">
<head>
 <meta charset ="UTF-8">
 <meta name="viewport" content="width = device-width,initial-scale=1.0">
 <title>Clientes cadastrados</title>
 <link rel="stylesheet" href="{{url_for('static', filename='Css/paginas-div.css' )}}">
</head>
<body>

<div class="container">

  <header>
    <h1>Clientes Cadastrados</h1>
  </header>

<section class="clientes">
   <div class="cliente">
   <img src="{{url_for('static', filename='Img/cliente-icone.png')}}" alt="foto do cliente">
    <div class="informações">
       <p><strong>Nome:</strong>João Silva</p>
       <p><strong>Gênero:</strong>Masculino</p>
       <p><strong>Telefone:</strong>(xx)-xxxx.xxxx</p>
       <p><strong>Email:</strong>Joao@email.com</p>
       <p><strong>Endereço:</strong>Rua das flores , 123</p>
       <p><strong>Pet:</strong>Rex (Cachorro)</p>

    </div>
   </div>

   <div class="cliente">
   <img src="{{url_for('static', filename='Img/cliente-icone.png')}}" alt="foto do cliente">

    <div class="informações">
       <p><strong>Nome:</strong>Juliano Pereira</p>
       <p><strong>Gênero:</strong>Masculino</p>
       <p><strong>Telefone:</strong>(xx)-xxxx.xxxx</p>
       <p><strong>Email:</strong>Juliano@email.com</p>
       <p><strong>Endereço:</strong>Rua Novo horizonte ,123</p>
       <p><strong>Pet:</strong>Caramelo (Cachorro)</p>

    </div>
   </div>

   <div class="cliente">
   <img src="{{url_for('static', filename='Img/cliente-icone.png')}}" alt="foto do cliente">

    <div class="informações">
       <p><strong>Nome:</strong>Bianca Silva</p>
       <p><strong>Gênero:</strong>feminino</p>
       <p><strong>Telefone:</strong>(xx)-xxxx.xxxx</p>
       <p><strong>Email:</strong>biancazilva@email.com</p>
       <p><strong>Endereço:</strong>Rua numeros,123</p>
       <p><strong>Pet:</strong>Mia (Gato)</p>


    </div>
   </div>

   <div class="cliente">
      <img src="{{url_for('static', filename='Img/cliente-icone.png')}}" alt="foto do cliente">

    <div class="informações">
       <p><strong>Nome:</strong>Pricilla Oliver </p>
       <p><strong>Gênero:</strong>feminino</p>
       <p><strong>Telefone:</strong>(xx)-xxxx.xxxx</p>
       <p><strong>Email:</strong>pricillaolivva@email.com</p>
       <p><strong>Endereço:</strong>Rua das flores,123</p>
       <p><strong>Pet:</strong>Simba(Gato)</p>



    </div>
   </div>

   
</section>
</div> 
</body>
</html>