<!DOCTYPE html>
<html lang ="pt-Br">
<head>
 <meta charset ="UTF-8">
 <meta name="viewport" content="width = device-width,initial-scale=1.0">
 <title>Star Pet</title>
 <link rel="stylesheet" href="{{url_for('static', filename='Css/informações.css' )}}">
</head>

<body>


    <header>

      <a href="{{url_for('index')}}">
        <img src="{{url_for('static', filename='Img/voltar.png')}}" class=voltar> 
  
      </a>
    
    </header>

   <main>

    <div class="informacoes">
        <h2>Entre em contato por :</h2>

        <p>Telefone : xxxx.xxxx </p><br>
  
        <p>Instagram :@ pet_star01</p><br>
  
        <p> Endereço: google maps local.</p><br>


   

    </div>
       
    
  </main>    



</body>