<!DOCTYPE html>
<html lang ="pt-Br">
<head>
 <meta charset ="UTF-8">
 <meta name="viewport" content="width = device-width,initial-scale=1.0">
 <title>Star Pet</title>
 <link rel="stylesheet" href="{{url_for('static', filename='Css/entrar.css' )}}">
</head>
<body>

<br><br><br><br><br><br>

<header>

      <a href="{{url_for('index')}}">
        <img src="{{url_for('static', filename='Img/voltar.png')}}" class=voltar> 
    </a>

</header>

<main>
  
   <div class="form-entrar">
    <form id="login-form">

      <h2>Entrar</h2>
      <div class="dados">
        <label for="campo-nome">Login:</label>
        <input id="campo-nome" name = "login" type="text" placeholder="digite seu usuário" required> 

      </div>
     
      <br><br>

      <div class="dados">
      <label for="campo-senha">Senha:</label>
      <input id="campo-senha" name = "senha" type="password" placeholder="digite sua senha" required>
    
      </div><br><br>

      <button type="submit">ENTRAR</button>
      <div id="erro-mensagem"></div>
 
     </form>


   </div>

     <script src="{{url_for('static', filename='Js/entrar.js' )}}"></script>

</main>
   

<br><br><br><br><br><br>



</body>    
</html>


