<!DOCTYPE html>
<html lang ="pt-Br">
<head>
 <meta charset ="UTF-8">
 <meta name="viewport" content="width = device-width,initial-scale=1.0">
 <title>Star Pet</title>
 <link rel="stylesheet" href="/app/static/Css/tela-principal.css">
</head>

<body>

<header>

    <br>
   
  <nav>

   <ul>

     <li>
        <a href="agendamentos.html" >AGENDAMENTOS</a>

     </li>

     <li>
        <a href="pets.html" >PETS</a>
        
     </li>

     <li>
        <a href="prontuarios.html" >PRONTUARIOS</a>
        
     </li>

     <li>
        <a href="#" id="abrir-menu" >MENU</a>

   
     </li>
  </ul>
</nav>  
 
  <div id="menu-lateral" class="menu-lateral">
     <div class="conteudo">

    <ul>
      <li>
         <a href="perfil-veterinario-.html" >PERFIL<a>
         </li>
 
 
       <li>
        <a href="clientes.html" >CLIENTES</a>
        </li>
 
       <li>
        <a href="cadastro-serviços.html" >CADASTRO DE SERVIÇOS</a>
       </li>
 
 
       <li>
       <a href="historico-de-serviços.html" >HISTORICO DE SERVIÇOS</a>
       </li>
       
     </ul>

     </div>
     <button id="fechar-menu" class="fechar-menu">Fechar</button>
   </div>

   <script src="/app/static/Js/pagina-principal.js"></script> 

</header>

</body>

</html>