<!DOCTYPE html>
<html lang ="pt-Br">
<head>
 <meta charset ="UTF-8">
 <meta name="viewport" content="width = device-width,initial-scale=1.0">
 <title>Star Pet</title>
 <link rel="stylesheet" href="{{url_for('static', filename='Css/tela-principal.css' )}}">
</head>

<body>

<header>

    <br>
   
  <nav>

   <ul>

     <li>
        <a href="{{url_for('agendamentos')}}">>AGENDAMENTOS</a>

     </li>

     <li>
        <a href="{{url_for('pets')}}" >PETS</a>
        
     </li>

     <li>
        <a href="{{url_for('prontuarios')}}">PRONTUARIOS</a>
        
     </li>

     <li>
        <a href="#" id="abrir-menu" >MENU</a>

   
     </li>
  </ul>
</nav>  
 
  <div id="menu-lateral" class="menu-lateral">
     <div class="conteudo">

    <ul>
      <li>
         <a href="{{url_for('perfil_veterinario')}}" >PERFIL<a>
            
         </li>
 
 
       <li>
        <a href="{{url_for('clientes')}}">CLIENTES</a>
        </li>
 
       <li>
        <a href="{{url_for('cadastro_servicos')}}">CADASTRO DE SERVIÇOS</a>
       </li>
 
 
       <li>
       <a href="{{url_for('historico_de_servicos')}}">HISTORICO DE SERVIÇOS</a>
       </li>
       
     </ul>

     </div>
     <button id="fechar-menu" class="fechar-menu">Fechar</button>
   </div>

   
   <script src="{{url_for('static', filename='Js/pagina-principal.js' )}}"></script>

</header>

</body>

</html>