<!DOCTYPE html>
<html lang ="pt-Br">
<head>
 <meta charset ="UTF-8">
 <meta name="viewport" content="width = device-width,initial-scale=1.0">
 <title>Pets Cadastrados</title>
 <link rel="stylesheet" href="/app/static/Css/paginas-div.css">
</head>
<body>
<div class="container">
   <header>
    <h1>Pets Cadastrados</h1>
   </header>

   <section class="pets">
      <div class="pet">
         <img src="/app/static/Img/dados-animal-icone.png">
         <div class="informaçoes">
            <p><strong>Nome:</strong>Rex</p>
            <p><strong>Espécie:</strong>Cachorro</p>
            <p><strong>Raça:</strong>Labrador</p>
            <p><strong>Data De Nascimento:</strong>10/07/2021 </p>
            <p><strong>Peso:</strong>25kg</p>
            <p><strong>Responsavel:</strong>João Silva</p>
            <p><strong>Cor/Pelagem:</strong>Amarela/p>

            <a href="prontuarios.html" class="btn-prontuario">PRONTUÁRIO</a>
         </div>
      </div>

      <div class="pet">
         <img src="/app/static/Img/dados-animal-icone.png">
        <div class="informaçoes">
           <p><strong>Nome:</strong>Rex</p>
           <p><strong>Espécie:</strong>Cachorro</p>
           <p><strong>Raça:</strong>Labrador</p>
           <p><strong>Data De Nascimento:</strong>10/07/2021 </p>
           <p><strong>Peso:</strong>25kg</p>
           <p><strong>Responsavel:</strong>João Silva</p>
           <p><strong>Cor/Pelagem:</strong>Amarela/p>

           <a href="prontuarios.html" class="btn-prontuario">PRONTUÁRIO</a>
        </div>
     </div>


     <div class="pet">
      <img src="/app/static/Img/dados-animal-icone.png">
        <div class="informaçoes">
           <p><strong>Nome:</strong>Rex</p>
           <p><strong>Espécie:</strong>Cachorro</p>
           <p><strong>Raça:</strong>Labrador</p>
           <p><strong>Data De Nascimento:</strong>10/07/2021 </p>
           <p><strong>Peso:</strong>25kg</p>
           <p><strong>Responsavel:</strong>João Silva</p>
           <p><strong>Cor/Pelagem:</strong>Amarela/p>

           <a href="prontuarios.html" class="btn-prontuario">PRONTUÁRIO</a>
        </div>
     </div>

   </section>

</div>





</body>
</html>