<!DOCTYPE html>
<html lang ="pt-Br">
<head>
 <meta charset ="UTF-8">
 <meta name="viewport" content="width = device-width,initial-scale=1.0">
 <title>Nosso Serviços</title>
 <link rel="stylesheet" href="{{url_for('static', filename='Css/servicos-pet-star.css' )}}">
</head>
<body>

<div class="conteudo">
        <h1>Nossos Serviços</h1>
        <p>O Pet Star oferece uma variedade de serviços para garantir o bem-estar do seu pet.</p>
   
<div class="servicos-lista">
    <div class="servico">
        <h2>Banho e Tosa</h2>
        <p>Oferecemos banho e tosa para cães e gatos,com diferentes tipos de cortes e cuidados. A higiene do seu pet é importante para a saúde dele.</p>

        <ul>

          <li>Banho completo</li>
          <li>Cortes de Pelo</li>
          <li>Escovação e cuidados com as unhas.</li>

        </ul>
       <p><strong>Preço:RS 100,00</strong></p>
    </div>
  
    <div class="servico">
        <h2>Consultas Veterinarias</h2>
        <p>Temos veterinarios especializados para garantir a saúde de seu pet.Realizamos consultas,exames e diágnosticos de doenças.</p>
        <ul>

          <li>Check-ups completos</li>
          <li>Vacinas</li>
          <li>Exames de rotina</li>
        </ul>

       <p><strong>Preço: A partir de RS 150,00</strong></p>
    </div>

    <div class="informacoes-adicionais">
        <h3>Horário de Funcionamento</h3>
        <p>Segunda a Sexta : 08:00 - 18:00</p>
        <p>Sábado:08:00 - 14:00</p>
        <p>Domingo:Fechado</p>
    </div>
</div>
</div>

</body>
</html>    